<header class="bgc-dark">
	<div id="header-contents">
		<div id="logo-container" class="header-item">
			<div id="logo-large">
				<a routerLink="/">
					<img src="assets/img/logo_full_light.png" class="full-height" alt="">
				</a>
			</div>
			<div id="logo-small">
				<a routerLink="/">
					<img src="assets/img/logo.png" class="full-height" alt="">
				</a>
			</div>
		</div>
		<div id="search-box" class="header-item">
			<div id="search-bar-container">
				<input id="search-bar" type="search" placeholder="type a keyword...">
				<div id="search-button">
					<a href="#" class="none">
						<i class="fas fa-search"></i>
					</a>
				</div>
			</div>
		</div>
		<div id="header-controls-container" class="header-item">
			<div id="hamburger-container">
				<img id="hamburger-menu" src="assets/img/menu-humb-512.png" class="full-height full-width" alt="">
			</div>
			<div id="user-controls" *ngIf="!isAuthenticated()">
				<ul class="horizontal-list">
					<li class="hl-item">
						<a  [routerLink]="['/auth']" 
							[queryParams]='{form_tab: "sign-in"}'
							class="link-w">Sign In</a>
					</li>
					<li class="hl-item">
						<a 	[routerLink]="['/auth']" 
							[queryParams]='{form_tab: "sign-up"}'
							class="link-w">Sign Up</a>
					</li>
				</ul>
			</div>
			<div id="user-controls" class="user-controls authenticated" *ngIf="isAuthenticated()">
				<div class="profile-info">
					<div class="profile-pic-container">
						<img id="profile-pic" 
							src="assets/img/sign-up-white.png" alt="" class="profile-pic">
					</div>
				</div>
				<div id="profile-dropdown">
					<div id="profile-"></div>
					<div>
						<ul id="profile-dropdown-controls" 
							class="profile-dropdown-controls">
							<li class="profile-dropdown-control">your profile</li>
							<li class="profile-dropdown-control">settings</li>
							<li class="profile-dropdown-control" (click)="logout()">logout</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>