<header class="bgc-dark">
	<div id="header-contents">
		<div id="logo-container" class="header-item">
			<div id="logo-large">
				<a href="#">
					<img src="assets/img/logo_full_light.png" class="full-height" alt="">
				</a>
			</div>
			<div id="logo-small">
				<a href="#">
					<img src="assets/img/logo.png" class="full-height" alt="">
				</a>
			</div>
		</div>
		<div id="search-box" class="header-item">
			<div id="search-bar-container">
				<input id="search-bar" type="search" placeholder="type a keyword...">
				<div id="search-button">
					<a href="#">
						<img src="assets/img/search-icon.png" class="full-height">
					</a>
				</div>
			</div>
		</div>
		<div id="header-controls-container" class="header-item">
			<div id="hamburger-container">
				<img id="hamburger-menu" src="assets/img/menu-humb-512.png" class="full-height full-width" alt="">
			</div>
			<div id="user-controls">
				<ul class="horizontal-list">
					<li class="hl-item">
						<a href="authentication.html?form_tab=sign-in" class="link-w">Sign In</a>
					</li>
					<li class="hl-item">
						<a href="authentication.html?form_tab=sign-up" class="link-w">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>