<div class="content-wrapper">
	<div class="infoblocks content-section">
		<div class="infoblock bgc-dark">
			<div class="infoblock-header light">Name</div>
			<div class="infoblock-value c-primary">{{research.topic}}</div>
			<div class="research-dates">
				<div class="research-date">
					<div class="infoblock-header light">Date Initialized</div>
					<div class="infoblock-value c-primary">{{research.creation}}</div>
				</div>
				<div class="research-date">
					<div class="infoblock-header light">Last update</div>
					<div class="infoblock-value c-primary">{{research.last_update}}</div>
				</div>
			</div>
		</div>
		<div class="infoblock">
			<div class="infoblock-header">Creator</div>
			<div class="infoblock-value c-primary">{{research.owner.fullname}} ({{research.owner.username}})</div>
			<div class="infoblock-header">Description</div>
			<p>{{research.description}}</p>
		</div>
		<div class="infoblock">
			<div class="infoblock-header">Keywords</div>
			<ul>
				<li *ngFor="let keyword of research.keywords">
					{{keyword}}
				</li>
			</ul>
		</div>
	</div>
	<div id="service-control" class="content-section">
		<div id="date-pickers-container">
			<h3>Choose service to show its analytics</h3>
			<div class="date-pickers">
				<div class="date-picker">
					<span class="bold">From</span>&nbsp;&nbsp;<input type="date"/>
				</div>
				<div class="date-picker">
					<span class="bold">To</span>&nbsp;&nbsp;<input type="date"/>
				</div>
				<div class="date-picker">
					<div id="refresh" class="bgc-primary">
						Apply and refresh
					</div>
				</div>
			</div>
		</div>
		<div id="service-buttons">
			<div class="grid-row">
				<div class="service-button bgc-dark" 
					attr.data-disabled="{{isDisabled('twitter')}}"
					(click)="showService('twitter')"
				>
					Twitter
				</div>
				<div class="service-button bgc-dark" 
					attr.data-disabled="{{isDisabled('play_store')}}"
					(click)="showService('play_store')"
				>	
					Play Store
				</div>
			</div>
			<div class="grid-row">
				<div class="service-button bgc-dark" 
					attr.data-diabled="{{isDisabled('news')}}"
					(click)="showService('news')"	
				>
					Newspapers
				</div>
				<div class="service-button bgc-dark" 
					attr.data-disabled="{{isDisabled('search')}}"
					(click)="showService('search')"	
				>
					Google Trends
				</div>
			</div>
		</div>
	</div>
	<div class="content-section">
		<div class="service-tab hidden" data-service="twitter">
			<div id="twitter-charts-grid">
				<div class="chart-wrapper">
					<div class="chart-head">Number Of Mentions</div>
					<canvas id="twitter-mentions" class="chart"></canvas>
				</div>
				<div class="chart-wrapper">
					<div class="chart-head">Most frequent words</div>
					<canvas id="twitter-most-frequent-words" class="chart"></canvas>
				</div>
				<div class="chart-wrapper">
					<div class="chart-head">Sentiment Score</div>
					<canvas id="twitter-total-opinion-percentage" class="chart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>