<div class="content-wrapper">
	<div class="infoblocks content-section">
		<div class="infoblock bgc-dark">
			<div class="infoblock-header light">Name</div>
			<div class="infoblock-value c-primary">{{research.topic}}</div>
			<div class="research-dates">
				<div class="research-date">
					<div class="infoblock-header light">Date Initialized</div>
					<div class="infoblock-value c-primary">{{research.creation}}</div>
				</div>
				<div class="research-date">
					<div class="infoblock-header light">Last update</div>
					<div class="infoblock-value c-primary">{{research.last_update}}</div>
				</div>
			</div>
		</div>
		<div class="infoblock">
			<div class="infoblock-header">Creator</div>
			<div class="infoblock-value c-primary">{{research.owner.fullname}} ({{research.owner.username}})</div>
			<div class="infoblock-header">Description</div>
			<p>{{research.description}}</p>
		</div>
		<div class="infoblock">
			<div class="infoblock-header">Keywords</div>
			<ul>
				<li *ngFor="let keyword of research.keywords">
					{{keyword}}
				</li>
			</ul>
		</div>
	</div>
	<div id="service-control" class="content-section">
		<div id="date-pickers-container">
			<h3>Choose service to show its analytics</h3>
			<div class="date-pickers">
				<div class="date-picker">
					<span class="bold">From</span>&nbsp;&nbsp;<input type="date" [(ngModel)]="serviceDateFrom"/>
				</div>
				<div class="date-picker">
					<span class="bold">To</span>&nbsp;&nbsp;<input type="date" [(ngModel)]="serviceDateTo"/>
				</div>
				<div class="date-picker">
					<div id="refresh" class="bgc-primary" (click)="refreshService()">
						Apply and refresh
					</div>
				</div>
			</div>
		</div>
		<div id="service-buttons">
			<div class="grid-row">
				<div class="service-button bgc-dark {{isActive('twitter')}}" 
					attr.data-disabled="{{isDisabled('twitter')}}"
					(click)="showService('twitter')"
				>
					Twitter
				</div>
				<div class="service-button bgc-dark {{isActive('play_store')}}" 
					attr.data-disabled="{{isDisabled('play_store')}}"
					(click)="showService('play_store')"
				>	
					Play Store
				</div>
			</div>
			<div class="grid-row">
				<div class="service-button bgc-dark {{isActive('news')}}" 
					attr.data-diabled="{{isDisabled('news')}}"
					(click)="showService('news')"	
				>
					Newspapers
				</div>
				<div class="service-button bgc-dark {{isActive('search')}}" 
					attr.data-disabled="{{isDisabled('search')}}"
					(click)="showService('search')"	
				>
					Google Trends
				</div>
			</div>
		</div>
	</div>
	<div class="content-section">
		<div class="service-tab hidden" data-service="twitter">
			<div class="triple-grid">
				<div class="bordered">
					<div class="chart-head">Number Of Mentions</div>
					<canvas id="twitter-mentions" class="chart"></canvas>
				</div>
				<div class="bordered">
					<div class="chart-head">Most frequent words</div>
					<canvas id="twitter-most-frequent-words" class="chart"></canvas>
				</div>
				<div class="bordered">
					<div class="chart-head">Sentiment Score</div>
					<canvas id="twitter-total-opinion-percentage" class="chart"></canvas>
				</div>
			</div>
		</div>
		<div class="service-tab hidden" data-service="play_store">
			<div class="triple-grid">
				<div class="bordered">
					<div class="chart-head">Rating chart</div>
					<canvas id="play-store-rating-chart"></canvas>
				</div>
				<div class="bordered bgc-dark">
					<div class="infoblock-header light text-center">Application name</div>
					<div class="c-primary playstore-attribute">{{playstore ? playstore.app_info.name : "none"}}</div> 
					<div class="infoblock-header light text-center">Average rating</div>
					<div class="infoblock-value c-primary playstore-attribute">
						<div id="playstore-stars">
							<i *ngFor="let i of [1, 2, 3, 4, 5]" class="{{getStarForRate(i)}}">
							</i>
						</div>
						<div id="playstore-rate" class="playstore-attribute">
							{{playstore ? playstore.app_info.rate : "none"}}
						</div>
					</div>
				</div>
				<div class="bordered">
					<div class="infoblock-header">Total downloads</div>
					<div class="infoblock-value">
						{{playstore ? playstore.app_info.downloads : "none"}}
					</div>
					<div class="infoblock-header">Reviews count</div>
					<div class="infoblock-value">
						{{playstore ? playstore.app_info.reviews + playstore.app_info.not_clear_reviews : "none"}}
					</div>
					<div class="infoblock-header">Written reviews only</div>
						{{playstore ? playstore.app_info.reviews : "none"}}
				</div>
			</div>
		</div>
		<div class="service-tab hidden" data-service="search">
			<div class="triple-grid">
				<div class="bordered">
					<div class="infoblock-header text-center">The dynamics of popularity</div>
					<canvas id="google-trends-popularity"></canvas>
				</div>
				<div class="bordered">
					<div class="infoblock-header text-center">Popular in countries</div>
					<canvas id="google-trends-popularity-in-countries"></canvas>
				</div>
				<div class="bordered">
					<div class="infoblock-header text-center">People also search</div>
					<ul class="double-columns-list" id="google-trends-related-list">
						<li *ngFor="let query of trends ? trends.related : []">
							{{query}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="service-tab hidden" data-service="news">
			<div class="bordered">
				<div class="infoblock-header text-center">The most popular newspapers</div>
				<div id="newspapers-container">
					<div class="newspaper" *ngFor="let newspaper of newspapers ? newspapers.news : []">
						<div class="newspaper-source">{{newspaper.source}}</div>
						<div class="newspaper-link-container">
							<a class="newspaper-link" href="{{newspaper.link}}">{{newspaper.link}}</a>
						</div>
						<div class="newspaper-title">{{newspaper.title}}</div>
					</div>
				</div>
			</div>
			<div class="double-grid">
				<div class="bordered">
					<div class="infoblock-header text-center">What do they say about?</div>
					<ul class="double-columns-list">
						<li *ngFor="let word of newspapers ? newspapers.words : []">
							{{word}}
						</li>
					</ul>
				</div>
				<div class="bordered">
					<div class="infoblock-header text-center">Total opinion percentage</div>
					<canvas id="newspapers-total-opinion-percentage"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>