<div id="menu" class="menu menu-collapsed">
	<div id="sidebar-toggle" 
		class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			Hide
		</div>
		<div class="menu-item-icon-wrapper">
			<i id="sidebar-toggle-icon" class="menu-item-icon fas fa-arrow-right"></i>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<a class="menu-link menu-item-text menu-item-text-collapsed" routerLink="/">
			Home
		</a>
		<div class="menu-item-icon-wrapper">
			<a class="menu-link" routerLink="/">
				<i class="menu-item-icon fas fa-home"></i>
			</a>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<a  class="menu-link menu-item-text menu-item-text-collapsed"
			[routerLink]="['/search']">
			Search
		</a>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link"
				[routerLink]="['/search']">
				<i class="menu-item-icon fas fa-search"></i>
			</a>
		</div>
	</div>
	<div *ngIf="isAuthenticated()" class="menu-item menu-item-collapsed">
		<a  class="menu-link menu-item-text menu-item-text-collapsed"
			[routerLink]="['/sub']">
			Subscriptions
		</a>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link"
				[routerLink]="['/sub']">
				<i class="menu-item-icon fas fa-tag"></i>
			</a>
		</div>
	</div>
	<div *ngIf="isAuthenticated()" class="menu-item menu-item-collapsed">
		<a  class="menu-link menu-item-text menu-item-text-collapsed"
			[routerLink]="['/creation']">
			Create
		</a>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link"
				[routerLink]="['/creation']">
				<i class="menu-item-icon fas fa-plus"></i>
			</a>
		</div>
	</div>
	<div *ngIf="isAuthenticated()" class="menu-item menu-item-collapsed">
		<a  class="menu-link menu-item-text menu-item-text-collapsed"
			[routerLink]="['/profile']">
			Profile
		</a>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link"
				[routerLink]="['/profile']">
				<i class="menu-item-icon fas fa-user"></i>
			</a>
		</div>
	</div>
	<div *ngIf="isAuthenticated()" class="menu-item menu-item-collapsed">
		<a  class="menu-link menu-item-text menu-item-text-collapsed" (click)="logout()">
			Logout
		</a>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link" (click)="logout()">
				<i class="menu-item-icon fas fa-sign-out-alt"></i>
			</a>
		</div>
	</div>
	<div *ngIf="!isAuthenticated()">
		<div class="menu-item menu-item-collapsed">
			<a 	class="menu-link menu-item-text menu-item-text-collapsed"
				[routerLink]="['/auth']"
				[queryParams]='{form_tab: "sign-in"}'>
				Sign In
			</a>
			<div class="menu-item-icon-wrapper">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-in"}'>
					<i class="menu-item-icon fa fa-sign-in-alt"></i>
				</a>
			</div>
		</div>
		<div class="menu-item menu-item-collapsed">
			<a class="menu-link menu-item-text menu-item-text-collapsed"
				[routerLink]="['/auth']"
				[queryParams]='{form_tab: "sign-up"}'>
				Sign Up
			</a>
			<div class="menu-item-icon-wrapper">
				<a  
					class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-up"}'>
					<i class="menu-item-icon fa fa-user-alt"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- placeholder for menu when it becomes fixed -->
<div id="menu-sidebar-fixed-placeholder" 
	 style="display: none"
	 class="menu-sidebar-fixed-placeholder-collapsed"></div>