<div id="menu" class="menu menu-collapsed">
	<div id="sidebar-toggle" 
		class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			Hide
		</div>
		<div class="menu-item-icon-wrapper">
			<i id="sidebar-toggle-icon" class="menu-item-icon fas fa-arrow-right"></i>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed" routerLink="/">
			<a class="menu-link" routerLink="/">Home</a>
		</div>
		<div class="menu-item-icon-wrapper">
			<a class="menu-link" routerLink="/">
				<i class="menu-item-icon fas fa-home"></i>
			</a>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			<a  class="menu-link"
				[routerLink]="['/search']">
				Search
			</a>
		</div>
		<div class="menu-item-icon-wrapper">
			<a  class="menu-link"
				[routerLink]="['/search']">
				<i class="menu-item-icon fas fa-search"></i>
			</a>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			Trends
		</div>
		<div class="menu-item-icon-wrapper">
			<i class="menu-item-icon fas fa-chart-line"></i>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			About Pitcher
		</div>
		<div class="menu-item-icon-wrapper">
			<i class="menu-item-icon fas fa-question"></i>
		</div>
	</div>
	<div *ngIf="!isAuthenticated()">
		<hr id="menu-hr"/>
		<div class="menu-item menu-item-collapsed">
			<div class="menu-item-text menu-item-text-collapsed">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-in"}'>
					Sign In
				</a>
			</div>
			<div class="menu-item-icon-wrapper">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-in"}'>
					<i class="menu-item-icon fa fa-sign-in-alt"></i>
				</a>
			</div>
		</div>
		<div class="menu-item menu-item-collapsed">
			<div class="menu-item-text menu-item-text-collapsed">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-up"}'>
					Sign Up
				</a>
			</div>
			<div class="menu-item-icon-wrapper">
				<a  
					class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-up"}'>
					<i class="menu-item-icon fa fa-user-alt"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- placeholder for menu when it becomes fixed -->
<div id="menu-sidebar-fixed-placeholder" 
	 style="display: none"
	 class="menu-sidebar-fixed-placeholder-collapsed"></div>