<div id="menu" class="menu menu-collapsed">
	<div id="sidebar-toggle" 
		class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			Hide
		</div>
		<div class="menu-item-icon">
			<img id="sidebar-toggle-icon" 
				src="assets/img/arrow-right.png" alt="" class="full-width full-height">
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed" routerLink="/">
			<a class="menu-link" routerLink="/">Home</a>
		</div>
		<div class="menu-item-icon">
			<a class="menu-link" routerLink="/">
				<img src="assets/img/home.png" alt="" class="full-width full-height">
			</a>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			<a  class="menu-link"
				[routerLink]="['/search']">
				Search
			</a>
		</div>
		<div class="menu-item-icon">
			<a  class="menu-link"
				[routerLink]="['/search']">
				<img src="assets/img/search-icon-white.png" alt="" class="full-width full-height">
			</a>
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			Trends
		</div>
		<div class="menu-item-icon">
			<img src="assets/img/trends-icon-white.png" alt="" class="full-width full-height">
		</div>
	</div>
	<div class="menu-item menu-item-collapsed">
		<div class="menu-item-text menu-item-text-collapsed">
			About Pitcher
		</div>
		<div class="menu-item-icon">
			<img src="assets/img/question-mark-white.png" alt="" class="full-width full-height">
		</div>
	</div>
	<div *ngIf="!isAuthenticated()">
		<hr id="menu-hr"/>
		<div class="menu-item menu-item-collapsed">
			<div class="menu-item-text menu-item-text-collapsed">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-in"}'>
					Sign In
				</a>
			</div>
			<div class="menu-item-icon">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-in"}'>
					<img src="assets/img/sign-in-white.png" alt="" class="full-width full-height">
				</a>
			</div>
		</div>
		<div class="menu-item menu-item-collapsed">
			<div class="menu-item-text menu-item-text-collapsed">
				<a  class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-up"}'>
					Sign Up
				</a>
			</div>
			<div class="menu-item-icon">
				<a  
					class="menu-link"
					[routerLink]="['/auth']"
					[queryParams]='{form_tab: "sign-up"}'>
					<img src="assets/img/sign-up-white.png" alt="" class="full-width full-height">
				</a>
			</div>
		</div>
	</div>
</div>

<!-- placeholder for menu when it becomes fixed -->
<div id="menu-sidebar-fixed-placeholder" 
	 style="display: none"
	 class="menu-sidebar-fixed-placeholder-collapsed"></div>