@media (min-width: 992px) {
    #main {
        display: flex;
        height: 100%;
    }
}

@media (max-width: 992px) {
    #main {
        margin: 0;
    }
}

#content-wrapper {
    width: 100%;
}

.content {
    margin: 15px auto;
    padding: 15px;
    max-width: 1200px;
    width: 90%;
}