<div id="page-title" class="text-center">
	Choose your plan
</div>

<div id="subscriptions">
	<div class="subscription">
		<div class="subscription-title">Free</div>
		<div class="subscription-price">Free</div>
		<div class="subscription-details">
			<div class="subscription-updates">
				<i class="fas fa-sync"></i> 
				&nbsp;
				<span class="number-of-updates">1 updates</span>
			</div>
			<a href="#" class="none purchase-button disabled">purchase</a>
			<div class="subscription-services">
				<div class="subscription-services-title">
					Available services
				</div>
				<div class="subscription-services-list">
					<div class="subscription-service">
						Twitter
					</div>
					<div class="subscription-service">
						Google Trends
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subscription">
		<div class="subscription-title">Pro</div>
		<div class="subscription-price">15.00$</div>
		<div class="subscription-details">
			<div class="subscription-updates">
				<i class="fas fa-sync"></i> 
				&nbsp;
				<span class="number-of-updates">5 updates</span>
			</div>
			<a href="" class="none purchase-button">purchase</a>
			<div class="subscription-services">
				<div class="subscription-services-title">
					Available services
				</div>
				<div class="subscription-services-list">
					<div class="subscription-service">
						Twitter
					</div>
					<div class="subscription-service">
						Google Trends
					</div>
					<div class="subscription-service">
						Play Store
					</div>
					<div class="subscription-service">
						News
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subscription">
		<div class="subscription-title">Unlimited</div>
		<div class="subscription-price">75.00$</div>
		<div class="subscription-details">
			<div class="subscription-updates">
				<i class="fas fa-sync"></i> 
				&nbsp;
				<span class="number-of-updates">Unlimited</span>
			</div>
			<a href="" class="none purchase-button">purchase</a>
			<div class="subscription-services">
				<div class="subscription-services-title">
					Available services
				</div>
				<div class="subscription-services">
					<div class="subscription-services-list">
						<div class="subscription-service">
							Twitter
						</div>
						<div class="subscription-service">
							Twitter
						</div>
						<div class="subscription-service">
							Play Store
						</div>
						<div class="subscription-service">
							News
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>