<div id="authentication-page-contents">
    <form id="auth-form" action="">
        <div id="auth-form-tab-controls">
            <div class="auth-form-tab-control auth-form-tab-control-active" data-tab-id-binding="sign-in">
                Sign In
            </div>
            <div class="auth-form-tab-control" data-tab-id-binding="sign-up">
                Sign Up
            </div>
        </div>
        <div data-tab-id="sign-in" class="auth-form-body" data-active-tab>
            <div class="auth-form-input-container">
                <label class="auth-form-label">email</label>
                <input type="text" class="auth-form-input"
                    placeholder="email" ng-model="signIn.email">
            </div>
            <div class="auth-form-input-container">
                <label class="auth-form-label">password</label>
                <input type="text" class="auth-form-input" 
                    placeholder="password" ng-mode="signIn.password">
            </div>
            <div class="auth-form-input-container submit-button-container">
                <div class="submit-button" ng-click="submitSignIn()">
                    Submit
                </div>
            </div>
            <div class="auth-form-separator">or connect with</div>
            <div class="auth-via-media-container auth-via-google">
                <div class="auth-via-media-icon">
                    <img src="assets/img/google_icon.svg" class="full-width full-heigh" alt="">
                </div>
                <div class="auth-via-media-text">Google</div>
            </div>
            <div class="auth-via-media-container auth-via-facebook">
                <div class="auth-via-media-icon">
                    <img src="../res/facebook-icon.png" class="full-width full-heigh" alt="">
                </div>
                <div class="auth-via-media-text">Facebook</div>
            </div>
        </div>
        <div data-tab-id="sign-up" class="auth-form-body hidden">
            <div class="auth-form-input-container">
                <label class="auth-form-label">email</label>
                <input type="text" class="auth-form-input"
                    placeholder="email" ng-model="signUp.email">
            </div>
            <div class="auth-form-input-container">
                <label class="auth-form-label">username</label>
                <input type="text" class="auth-form-input"
                    placeholder="username">
            </div>
            <div class="auth-form-input-container">
                <label class="auth-form-label">full name</label>
                <input type="text" class="auth-form-input"
                    placeholder="full name" ng-model="fullname">
            </div>
            <div class="auth-form-input-container">
                <div id="auth-form-company-checkboxes">
                    <div class="auth-form-company-checkbox-container">
                        <input id="represents-company" type="checkbox" ng-model="signUp.isCompany">
                        <label for="represents-company">I represent a company</label>
                    </div>
                </div>
                <input id="company-name" type="text" class="auth-form-input"
                    placeholder="company" disabled="true" ng-model="signUp.companyName">
            </div>
            <div class="auth-form-input-container">
                <label class="auth-form-label">password</label>
                <input type="text" class="auth-form-input" 
                    placeholder="password" ng-model="signUp.password">
            </div>
            <div class="auth-form-input-container">
                <label class="auth-form-label">confirm password</label>
                <input type="text" class="auth-form-input" 
                    placeholder="password" ng-model="signUp.confirmPassword">
            </div>
            <div class="auth-form-input-container submit-button-container">
                <div class="submit-button" ng-click="submitSignUp()">
                    Submit
                </div>
            </div>
        </div>
    </form>
    <div id="authentication-hints">
        <h3 class="text-center">Why have an account?</h3>
        <ul id="authentication-hints-list">
            <li class="authentication-hint">
                With the account you can explore media and opinions
                of people by creating and customizing your own researches 
            </li>
            <li class="authentication hint">
                Choose your subscription type
            </li>
            <li>
                And much more...
            </li>
        </ul>
    </div>
</div>