<div class="content">
	<div id="filters-section">
		<div id="filters-toggle-wrapper">
			<div id="filters-toggle">
				<div id="filters-toggle-icon">
					<img src="assets/img/filter-toggle.svg" class="full-width full-height" alt="">
				</div>
					<div id="filters-toggle-text">Filters</div>
			</div>
		</div>
		<div id="filters" class="filters-collapsed">
			<div class="filter-columns">
				<div class="filter-column">
					<div class="filter-name">SERVICES</div>
					<div class="filter-options">
						<ul class="filter-options-list">
							<li>
								<input type="checkbox" 
									id="service-filter-twitter"
									data-filter-service="twitter">
								<label class="filter-label" for="service-filter-twitter">Twitter</label>
							</li>
							<li>
								<input type="checkbox" 
									id="service-filter-play-store" 
									data-filter-service="play-store">
								<label class="filter-label" for="service-filter-play-store">Google Play Store</label>
							</li>
							<li>
								<input type="checkbox" 
									id="service-filter-news" 
									data-filter-service="news">
								<label class="filter-label" for="service-filter-news">News</label>
							</li>
							<li>
								<input type="checkbox" id="service-filter-search" 
									data-filter-service="search">
								<label class="filter-label" for="service-filter-search">Google Trends</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="filter-column">
					<div class="filter-name">DATE</div>
					<div class="filter-options">
						<div class="date-input-grid">
							<label>from</label>
							<input id="filter-date-from" type="date">
						</div>
						<div class="date-input-grid">
							<label>to</label>
							<input id="filter-date-to" type="date">
						</div>
					</div>
				</div>
				<div class="filter-column">
					<div class="filter-name">SORT BY</div>
					<div class="filter-options">
						<ul class="filter-options-list" 
							id="filter-sort-by"
							data-selection-list-id="filter-options-sort-by">
							<li class="filter-options-list-item"
								data-selection-list-id="filter-options-sort-by"
								data-selection-list-option="date">
								date created
							</li>
							<li class="filter-options-list-item"
								data-selection-list-id="filter-options-sort-by"
								data-selection-list-option="last_update">
								last update
							</li>
							<li class="filter-options-list-item"
								data-selection-list-id="filter-options-sort-by"
								data-selection-list-option="views">
								views
							</li>
							<li class="filter-options-list-item"
								data-selection-list-id="filter-options-sort-by"
								data-selection-list-option="popularity">
								popularity
							</li>
							<li class="filter-options-list-item"
								data-selection-list-id="filter-options-sort-by"
								data-selection-list-option="subscribers">
								subscribers
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<div id="apply-filters" class="button" (click)="applyFilters()">Apply Filters</div>
			</div>
		</div>
	</div>
	<div id="researches-list">
		<div class="research-list-item" 
			*ngFor="let research of researches">
			<div class="research-list-item-section research-name">
				{{research.name}}
			</div>
			<div class="research-list-item-section research-description">
				{{research.description}}
			</div>
			<div class="research-list-item-section research-date">
				Created on:
				<span class="bold">{{research.date}}</span>
			</div>
			<div class="research-list-item-section research-services">
				<span *ngFor="let service of research.services">
					<span class="service-label {{classForService(service)}}">
						{{service}}
				</span>
			</span>
		</div>
	</div>
</div>