<div class="content">
	<div id="filters-section">
		<div id="filters-toggle-wrapper">
			<div id="filters-toggle">
				<div id="filters-toggle-icon">
					<img src="assets/img/filter-toggle.svg" class="full-width full-height" alt="">
				</div>
					<div id="filters-toggle-text">Filters</div>
			</div>
		</div>
		<div id="filters" class="filters-collapsed">
			<div class="filter-columns">
				<div class="filter-column">
					<div class="filter-name">SERVICES</div>
					<div class="filter-options">
						<ul class="filter-options-list">
							<li>
								<input type="checkbox" 
									id="service-filter-twitter"
									data-filter-service="twitter">
								<label class="filter-label" for="service-filter-twitter">Twitter</label>
							</li>
							<li>
								<input type="checkbox" 
									id="service-filter-play-store" 
									data-filter-service="play-store">
								<label class="filter-label" for="service-filter-play-store">Google Play Store</label>
							</li>
							<li>
								<input type="checkbox" 
									id="service-filter-news" 
									data-filter-service="news">
								<label class="filter-label" for="service-filter-news">News</label>
							</li>
							<li>
								<input type="checkbox" id="service-filter-search" 
									data-filter-service="search">
								<label class="filter-label" for="service-filter-search">Google Trends</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="filter-column">
					<div class="filter-name">KEYWORD</div>
					<input type="text" [(ngModel)]="keyword" id="filter-option-keyword">
				</div>
				<div class="filter-column">
					<div class="filter-name">DATE</div>
					<div class="filter-options">
						<div class="date-input-grid">
							<label>from</label>
							<input id="filter-date-from" type="date">
						</div>
						<div class="date-input-grid">
							<label>to</label>
							<input id="filter-date-to" type="date">
						</div>
					</div>
				</div>
				<div class="filter-column">
					<div class="filter-name">SORT BY</div>
					<div class="filter-options">
						<ul class="filter-options-list" 
							id="filter-sort-by">
							<li class="filter-options-list-item">
								<label for="filter-options-sort-by-creation">
									<input type="radio" name="filter-options-sort-by" 
										id="filter-options-sort-by-creation"
										value="creation">
									created
								</label>
							</li>
							<li class="filter-options-list-item">
								<label for="filter-options-sort-by-last-update">
									<input type="radio" name="filter-options-sort-by"
										id="filter-options-sort-by-last-update"
										value="last_update"
									>
									last update
								</label>
							</li>
							<li class="filter-options-list-item">
								<label for="filter-options-sort-by-views">
									<input type="radio" name="filter-options-sort-by"
										id="filter-options-sort-by-views"
										value="views"
									>
									views
								</label>
							</li>
							<li class="filter-options-list-item">
								<label for="filter-options-sort-by-popularity">
									<input type="radio" name="filter-options-sort-by"
										id="filter-options-sort-by-popularity"
										value="popularity"
									>
									popularity
								</label>
							</li>
							<li class="filter-options-list-item">
								<label for="filter-options-sort-by-subscribers">
									<input type="radio" name="filter-options-sort-by"
										id="filter-options-sort-by-subscribers"
										value="subscribers"
									>
									subscribers
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="filter-column">
						<div class="filter-name">ANALYZER</div>
						<div class="filter-options">
							<ul class="filter-options-list" 
								id="filter-options-analyzer">
								<li class="filter-options-list-item">
									<label for="filter-options-analyzer-polyglot">
										<input type="radio" name="filter-options-analyser" 
											id="filter-options-analyzer-polyglot"
											value="polyglot">
										polyglot
									</label>
								</li>
								<li class="filter-options-list-item">
									<label for="filter-options-analyzer-vader">
										<input type="radio" name="filter-options-analyser" 
											id="filter-options-analyzer-vader"
											value="vader">
										vader
									</label>
								</li>
							</ul>
						</div>
				</div>
			</div>
			<div style="text-align: right">
				<div id="apply-filters" class="button" (click)="applyFilters()">Apply Filters</div>
			</div>
		</div>
	</div>
	<div id="researches-list">
		<div class="research-list-item" 
			*ngFor="let research of researches">
			<div class="research-list-item-section research-title">
				<div class="research-name">
					{{research.topic}}
				</div>
				<div class="research-date">
					<span class="bold">{{research.creation}}</span>
				</div>
			</div>
			<div class="research-list-item-section research-description">
				{{research.description}}
			</div>
			<div class="research-list-item-section research-stats">
				<div class="research-stat">
					<i class="fas fa-eye"></i>
					{{research.views}}
				</div>
				<div class="research-stat bg">
					{{research.likes}} likes
					<span class="stat-control">
						<i class="fas fa-thumbs-up"></i>
					</span>
				</div>
				<div class="research-stat">
					{{research.subscriptions}} subs
					<span class="stat-control">
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="researches.length === 0" id="nothing-to-show-block">
		<div id="nothing-to-show-message">
			Nothing to show...
		</div>
		<div id="nothing-to-show-input-contaier">
			<div id="nothing-to-show-search-container" (click)="searchByKeywordClick()">
				<i id="nothing-to-show-search" class="fas fa-search"></i>
			</div>
			<input
				id="nothing-to-show-input" 
				type="text" placeholder="type a keyword..."
				[(ngModel)]="keyword"
				(keydown)="searchByKeywordKeydown($event)"
				>
		</div>
	</div>
</div>